@mixin reponsive-core($width, $height: auto) {
  width: $width;
  height: $height;
  -webkit-background-size: $width auto;
  -moz-background-size: $width auto;
  background-size: $width auto !important;
  
  
}

@mixin min-width-960($width, $height){
    @media only screen and (min-width: 960px) {
      @include reponsive-core($width, $height);
    }
}

@mixin tablet-portrait($width, $height) {
   @media only screen and (min-width: 768px) and (max-width: 959px) {
     @include reponsive-core($width, $height);
   }
}

@mixin tablet-landscape($width, $height){
  @media only screen and (min-width: 1024px) {
    @include reponsive-core($width, $height);
  }
}

@mixin mobile-landscape($width, $height) {
  @media only screen and (min-width: 480px) {
    @include reponsive-core($width, $height);
  }
}

@mixin mobile-portrait($width, $height) {
  @media only screen and (max-width: 479px) {
    @include reponsive-core($width, $height);
  }
}

@mixin high-res($width, $height){
/* iPhone 4 and other high pixel ratio devices ----------- */
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 2) {
    @include reponsive-core($width, $height);
  }
}

@mixin kill-mobile-zoom {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}
