/* normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list ../images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*If you wanted to add the equivalent of a 12px left padding to an h2 set at a font-size of 32px you could use it like this:
h2 {
  padding-left: calc-em(12px, 32px);
}
More info can be found here => http://thesassway.com/intermediate/responsive-web-design-part-1*/
/*
  Frameless                 http://framelessgrid.com/
  by Joni Korpi             http://jonikorpi.com/
  licensed under CC0        http://creativecommons.org/publicdomain/zero/1.0/
  Modified by Nick Treadway http://twitter.com/nicktea
*/
/*
  Margin, padding, and border resets
  except for form elements
*/
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
  An easy way to zoom your entire layout in or out (as long as it's set in ems).
  Just change the media queries to activate them.
  Assuming your base font-size is 16:
  - the first one zooms out by a factor of (16-2)/16 = 0.875
  - the second one zooms in by a factor of (16+2)/16 = 1.125  
*/
@media screen and (max-width: 1px) {
  body {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 1px) {
  body {
    font-size: 1.125em;
  }
}
/*If you wanted to add the equivalent of a 12px left padding to an h2 set at a font-size of 32px you could use it like this:
h2 {
  padding-left: calc-em(12px, 32px);
}
More info can be found here => http://thesassway.com/intermediate/responsive-web-design-part-1*/
/*
  Frameless                 http://framelessgrid.com/
  by Joni Korpi             http://jonikorpi.com/
  licensed under CC0        http://creativecommons.org/publicdomain/zero/1.0/
  Modified by Nick Treadway http://twitter.com/nicktea
*/
/*
  Margin, padding, and border resets
  except for form elements
*/
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
  An easy way to zoom your entire layout in or out (as long as it's set in ems).
  Just change the media queries to activate them.
  Assuming your base font-size is 16:
  - the first one zooms out by a factor of (16-2)/16 = 0.875
  - the second one zooms in by a factor of (16+2)/16 = 1.125  
*/
@media screen and (max-width: 1px) {
  body {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 1px) {
  body {
    font-size: 1.125em;
  }
}
.links a, .content a, section[role=main] > article a {
  text-shadow: 0 0.063em 0 white;
}
.links a:link, .content a:link, section[role=main] > article a:link {
  color: orange;
  text-decoration: none;
}
.links a:visited, .content a:visited, section[role=main] > article a:visited {
  color: #cccccc;
}
.links a:hover, .content a:hover, section[role=main] > article a:hover {
  color: #a6c8ff;
  text-decoration: underline;
}
.links a.footer, .content a.footer, section[role=main] > article a.footer {
  color: black;
  font-weight: bold;
  text-shadow: 0 0 0 white;
}
.links a.more, .content a.more, section[role=main] > article a.more {
  white-space: nowrap;
}
.links a.more:after, .content a.more:after, section[role=main] > article a.more:after {
  content: " »";
}

.typography strong, .content strong, section[role=main] > article strong, .typography b, .content b, section[role=main] > article b {
  color: orange;
  font-weight: bold;
}
.typography em, .content em, section[role=main] > article em, .typography i, .content i, section[role=main] > article i {
  font-style: italic;
}
.typography abbr, .content abbr, section[role=main] > article abbr, .typography acronym, .content acronym, section[role=main] > article acronym {
  border-bottom: 1px dotted #666666;
}
.typography sub, .content sub, section[role=main] > article sub, .typography sup, .content sup, section[role=main] > article sup {
  font-size: 85%;
}
.typography sub, .content sub, section[role=main] > article sub {
  vertical-align: sub;
}
.typography sup, .content sup, section[role=main] > article sup {
  vertical-align: super;
}
.typography span.caps, .content span.caps, section[role=main] > article span.caps {
  font-size: 95%;
}
.typography h1, .content h1, section[role=main] > article h1, .typography h2, .content h2, section[role=main] > article h2, .typography h3, .content h3, section[role=main] > article h3, .typography h4, .content h4, section[role=main] > article h4, .typography h5, .content h5, section[role=main] > article h5, .typography h6, .content h6, section[role=main] > article h6 {
  color: black;
  margin: 1em 0;
}
.typography h1, .content h1, section[role=main] > article h1 {
  background: rgba(166, 200, 255, 0.8);
  font-weight: bold;
  font-size: 200%;
  line-height: 1.178em;
  margin: 0.75em 0;
  text-shadow: 0 -1px 0 white;
}
.typography h2, .content h2, section[role=main] > article h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 1.178em;
  text-shadow: 0 0.063em 0 rgba(166, 200, 255, 0.4);
}
.typography h3, .content h3, section[role=main] > article h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.253em;
  margin: 1.25em 0 0.5em;
}
.typography h4, .content h4, section[role=main] > article h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.35em;
  margin: 0.5em 0 0.5em;
}
.typography h5, .content h5, section[role=main] > article h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.5em;
  margin: 0.65em 0;
}
.typography h6, .content h6, section[role=main] > article h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}
.typography p, .content p, section[role=main] > article p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.typography p + p, .content p + p, section[role=main] > article p + p {
  text-indent: 1em;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dl, .content dl, section[role=main] > article dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dd, .content dd, section[role=main] > article dd {
  padding-left: 2.25em;
}
.typography ul, .content ul, section[role=main] > article ul {
  list-style: disc;
}
.typography ol, .content ol, section[role=main] > article ol {
  list-style: decimal;
}
.typography li, .content li, section[role=main] > article li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.typography dt, .content dt, section[role=main] > article dt {
  margin-top: 1em;
}
.typography dd, .content dd, section[role=main] > article dd {
  margin-bottom: 1em;
}
.typography code, .content code, section[role=main] > article code, .typography dfn, .content dfn, section[role=main] > article dfn, .typography kbd, .content kbd, section[role=main] > article kbd, .typography samp, .content samp, section[role=main] > article samp, .typography tt, .content tt, section[role=main] > article tt {
  font-family: "Maven Pro", Arial;
  font-size: 95%;
  color: #333333;
}
.typography pre, .content pre, section[role=main] > article pre {
  background: #333333;
  color: white;
  font-family: "Maven Pro", Arial;
  font-size: 95%;
  line-height: 1.5em;
  margin: 1.5em 0;
  padding: 1.1em;
  box-shadow: inset 0 0.063em 0 white;
  border: 0.063em solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.content .box, section[role=main] > article .box {
  background: #efeacf;
  border: 1px solid #e2d9a9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 1.5em -1em;
  padding: 1px 1em;
}

body {
  background-repeat: no-repeat;
  color: black;
  font-family: "Maven Pro", Arial;
  font-size: 16px;
  line-height: 1.5em;
}
body p {
  margin: 1em 0;
}
@media only screen and (max-width: 29.938em) {
  body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-image: url("../../images/10sm.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}
@media only screen and (min-width: 30em) {
  body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-image: url("../../images/10sm.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}
@media only screen and (min-width: 48em) and (max-width: 59.938em) {
  body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-image: url("../images/10sm.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}
@media only screen and (min-width: 60em) {
  body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-image: url("../images/10.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 65em) {
  body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-image: url("../images/10sm.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 29.938em) {
  .mobile-portrait, header[role=banner], section, footer {
    height: auto;
    width: 16.5em;
    font-size: 16px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 30em) {
  .mobile-landscape, header[role=banner], section, footer {
    height: auto;
    width: 25.5em;
    font-size: 16px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 48em) and (max-width: 59.938em) {
  .tablet-portrait, header[role=banner], section, footer {
    height: auto;
    width: 43.5em;
    font-size: 16px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 65em) {
  .tablet-landscape {
    height: auto;
    width: 30em;
    font-size: 16px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 60em) {
  .min-width-960, header[role=banner], section, footer {
    height: auto;
    width: 57em;
    font-size: 16px;
    margin: 0 auto;
  }
}

header[role=banner] a strong, header[role=banner] a b {
  color: orange;
  font-weight: bold;
}
header[role=banner] a em, header[role=banner] a i {
  font-style: italic;
}
header[role=banner] h1, header[role=banner] h2, header[role=banner] h3, header[role=banner] h4, header[role=banner] h5, header[role=banner] h6 {
  color: black;
  margin: 1em 0;
}
header[role=banner] h1 {
  background: rgba(166, 200, 255, 0.8);
  font-weight: bold;
  font-size: 200%;
  line-height: 1.178em;
  margin: 0.75em 0;
  text-shadow: 0 -1px 0 white;
}
header[role=banner] h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 1.178em;
  text-shadow: 0 0.063em 0 rgba(166, 200, 255, 0.4);
}
header[role=banner] h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.253em;
  margin: 1.25em 0 0.5em;
}
header[role=banner] h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.35em;
  margin: 0.5em 0 0.5em;
}
header[role=banner] h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.5em;
  margin: 0.65em 0;
}
header[role=banner] h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}

section h1, section h2, section h3, section h4, section h5, section h6, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: black;
  margin: 1em 0;
}
section h1, footer h1 {
  background: rgba(166, 200, 255, 0.8);
  font-weight: bold;
  font-size: 200%;
  line-height: 1.178em;
  margin: 0.75em 0;
  text-shadow: 0 -1px 0 white;
}
section h2, footer h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 1.178em;
  text-shadow: 0 0.063em 0 rgba(166, 200, 255, 0.4);
}
section h3, footer h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.253em;
  margin: 1.25em 0 0.5em;
}
section h4, footer h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.35em;
  margin: 0.5em 0 0.5em;
}
section h5, footer h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.5em;
  margin: 0.65em 0;
}
section h6, footer h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}
section code, section dfn, section kbd, section samp, section tt, footer code, footer dfn, footer kbd, footer samp, footer tt {
  font-family: "Maven Pro", Arial;
  font-size: 95%;
  color: #333333;
}
section pre, footer pre {
  background: #333333;
  color: white;
  font-family: "Maven Pro", Arial;
  font-size: 95%;
  line-height: 1.5em;
  margin: 1.5em 0;
  padding: 1.1em;
  box-shadow: inset 0 0.063em 0 white;
  border: 0.063em solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
