<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport' />
    <title></title>
    <link href='/stylesheets/screen.css' rel='stylesheet' />
    <script src='javascripts/jquery-1.7.1.min.js'></script>
    <!--[if IE]>
      <script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
  </head>
  <body>
    <header role='banner'>
      <h1>
        Responsive Sass
        <small>version 0.1.0</small>
      </h1>
      <div class='links'>
        <strong>
          <a href='http://github.com/ntreadway/responsive-sass'>Download on GitHub</a>
        </strong>
      </div>
    </header>
    <article>
      <section role='main'>
        <header>
          <h2>Use:</h2>
        </header>
        <!DOCTYPE html>
        <html lang='en'>
          <head>
            <meta charset='utf-8' />
            <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
            <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport' />
            <title></title>
            <link href='/stylesheets/screen.css' rel='stylesheet' />
            <script src='javascripts/jquery-1.7.1.min.js'></script>
            <!--[if IE]>
              <script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
            <![endif]-->
          </head>
          <body>
            <header role='banner'>
              <h1>
                Responsive Sass
                <small>version 0.1.0</small>
              </h1>
              <div class='links'>
                <strong>
                  <a href='http://github.com/ntreadway/responsive-sass'>Download on GitHub</a>
                </strong>
              </div>
            </header>
            <article>
              <section role='main'>
                <header>
                  <h2>Use:</h2>
                </header>
                
              </section>
            </article>
            <footer>
              <small>
                <p class='links footer'>
                  Responsive Sass © 2012
                  <a class="footer" href="http://twitter.com/nicktea">Nick Treadway</a>
                  and
                  <a class="footer" href="http://yeti-media.com">Yeti Media</a>
                  Licensed under the
                  <a class="footer" href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>
                  <br />
                  More info on the Frameless grid by Joni Korpi can found here:
                  <a class="footer" href="http://http://framelessgrid.com/">Frameless</a>
                </p>
              </small>
            </footer>
          </body>
        </html>
      </section>
    </article>
    <footer>
      <small>
        <p class='links footer'>
          Responsive Sass © 2012
          <a class="footer" href="http://twitter.com/nicktea">Nick Treadway</a>
          and
          <a class="footer" href="http://yeti-media.com">Yeti Media</a>
          Licensed under the
          <a class="footer" href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>
          <br />
          More info on the Frameless grid by Joni Korpi can found here:
          <a class="footer" href="http://http://framelessgrid.com/">Frameless</a>
        </p>
      </small>
    </footer>
  </body>
</html>
